In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
# create dataframe from list
lst = ['Apple','Orange','Kiwi','Pear','Banana','kobo','test']
df = pd.DataFrame(lst)
df

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
# dataframe properties

In [ ]:
df.shape

(7, 1)

In [ ]:
df.columns

RangeIndex(start=0, stop=1, step=1)

In [ ]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
df.info

<bound method DataFrame.info of         0
0   Apple
1  Orange
2    Kiwi
3    Pear
4  Banana
5    kobo
6    test>

In [ ]:
# dataframe method

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.tail(3)

In [ ]:
df.head(3)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# create dataframe from dictionary
fruits = ['Apple','Orange','Kiwi','Pear','Banana']
colors = ['red','orange','green','yellowish','yellow']

dict = {"Fruit":fruits, "Color":colors}
print(dict)
df = pd.DataFrame(dict)
df

In [ ]:
# create dataframe from numpy array
import numpy as np
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(a ,columns=['a', 'b', 'c'])
df

In [ ]:
# create dataframe from csv file
df = pd.read_csv('/content/drive/MyDrive/test_csv/examscore_dataset.csv')
df

In [ ]:
# extract one column of data as a Series
df['gender']

0     female
1     female
2     female
3       male
4       male
       ...
95      male
96      male
97    female
98    female
99      male
Name: gender, Length: 100, dtype: object

In [ ]:
df[['gender', 'it score']].head(10)

   gender  it score
0  female        72
1  female        90
2  female        95
3    male        57
4    male        78
5  female        83
6  female        95
7    male        43
8    male        64
9  female        60

In [ ]:
# extract selected columns as a Dataframe
df[['gender', 'it score']]

    gender  it score
0   female        72
1   female        90
2   female        95
3     male        57
4     male        78
..     ...       ...
95    male        81
96    male        66
97  female        72
98  female        67
99    male        55

[100 rows x 2 columns]

In [ ]:
# sort dataframe
lst1 = ['Apple','Orange','Kiwi','Pear','Banana']
lst2 = [18,46,12,9,34]
dict = {"Fruit":lst1, 'Quantity':lst2}
df = pd.DataFrame(dict)
df

In [ ]:
# sort by index
df.sort_index()

In [ ]:
df.sort_index(ascending=False)

In [ ]:
# sort by values
df.sort_values(by='Quantity')

In [ ]:
# sort by values
df.sort_values(by='Fruit')